@import "layout";
@import "util";
/* 主色 */
$theme-color: #2660A9;

$font-color-black-1: #34373C;

$font-color-black-2: #2E3037;

$font-color-black-3: #A1A9B4;

$font-color-black-4: #C8CDD7;

$font-color-black-5: #474952;

$font-color-blue-1: #193FD8;

$font-color-blue-2: #284BDA;

$font-color-white: #FFFFFF;


.font-size-20 {
    font-size: 20rpx;
}

.font-size-22 {
    font-size: 22rpx;
}

.font-size-24 {
    font-size: 24rpx;
}

.font-size-28 {
    font-size: 28rpx;
}

.font-size-32 {
    font-size: 32rpx;
}

.font-size-36 {
    font-size: 36rpx;
}

.font-size-38 {
    font-size: 38rpx;
}

.font-size-40 {
    font-size: 40rpx;
}

.font-size-42 {
    font-size: 42rpx;
}
.font-size-44 {
    font-size: 44rpx;
}
.font-size-48 {
    font-size: 48rpx;
}

.font-size-58 {
    font-size: 58rpx;
}

.font-size-68{
    font-size: 68rpx;
}

.font-size-72 {
    font-size: 72rpx;
}

.font-blod{
    font-weight: bold;
}

.color-white{
    color: #FFFFFF;
}

.color-grey{
    color: #999999;
}

.color-blue{
    color: #2660A9;
}

.color-red{
    color: #EB604E;
}
.color-red1{
    color: #F44040;
}

.color-yellow{
    color: #e6a23c;
}

.bg-grey{
    background:#F1F1F1;
}

.bg-blue{
    background:#2660A9;
}

.bg-white{
    background:#ffffff;
}

//view {
//    box-sizing: border-box;
//}
//
//page {
//    width: 100%;
//    height: 100%;
//}
//
//uni-page-body {
//    height: 100%;
//}
